.margenH2{
    margin-left: 2%;
}

#listadoComplejosImg {
    height: 35%;
    width: 100%;
    position: absolute;
    bottom: 0;
}

#jumbo {
    height: 35%;
    width: 90%;
    position: absolute;
    top: 15%;
    margin-left: 5%
}
