<div class="jumbotron">
  <h1 class="display-4">Reserva tu cancha a un solo click de distancia!</h1>
  <p class="lead">Con nuestra página podras reservar tu cancha muy facilmente y en cualquier momento. Solo tienes que ver la disponibilidad de canchas para una zona, elegir la hora y reservar. Es muy facil, probalo!</p>
  <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  <!-- <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a> -->
</div>