<div id="jumbo" class="jumbotron">
  <h1 class="display-4">Reserva tu cancha a un solo click de distancia!</h1>
  <p class="lead">Con nuestra página podras reservar tu cancha muy facilmente y en cualquier momento. Solo tienes que ver la disponibilidad de canchas para una zona, elegir la hora y reservar. Es muy facil, probalo!</p>
  <hr class="my-4">
  <!-- <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a> -->
</div>
<section>
  <img id="listadoComplejosImg" src="../../assets/images/ListadoComplejos.jpg" alt="Listado de complejos">
</section>