<div class="dimension-registro">
  
  <form class="example-form">
    <p id="titulo-registro">Registro</p>
    <table class="example-full-width" cellspacing="0"><tr>
      <td><mat-form-field class="example-full-width">
        <input matInput placeholder="Nombre">
      </mat-form-field></td>
      <td><mat-form-field class="example-full-width">
        <input matInput placeholder="Apellido">
      </mat-form-field></td>
    </tr></table>

    <p>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Mail">
      </mat-form-field>
    </p>
    
    <table class="example-full-width" cellspacing="0"><tr>
      <td><mat-form-field class="example-full-width">
        <input matInput placeholder="Ciudad">
      </mat-form-field></td>
      <td><mat-form-field class="example-full-width">
        <input matInput placeholder="Dirección">
      </mat-form-field></td>
    </tr></table>

    <p>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Contraseña">
      </mat-form-field>
    </p>

    <div class="example-button-row">
      <button mat-raised-button>Enviar registro</button>
    </div>

  </form>
</div>
