mat-grid-tile {
    background: lightblue;
}

mat-grid-tile:hover {
    background: green;
}

#contenedor-tabla{
    width: 50%;
    height: 50px;
    margin-left: 25%;
}

.dias:hover{
    background: lightblue;
}

#foto-cancha-contenedor{
    height: 200px;
    margin-top: 5px;
}

#foto-cancha{
    height: 400px;
    width: 50%;
    margin-left: 16px;
}

#contenedor-descripcion{
    margin-left: 16px;
    width: 50%;
}

#nombre-cancha{
    font-size: 40px;
}

#subtitulo-cancha{
    font-size: 20px;
}

agm-map {
    height: 100%;
    width: 100%;
}

#contenedor-mapa{
    height: 30%;
    width: 40%;
    margin-right: 20px;
    margin-top: 30px;
    float: right;
}


