<div id="contenedor-titulo">
  <h1 id="titulo-reserva">{{ title }}</h1>
</div>

<!-- this creates a google map on the page with the given lat/lng from -->
<!-- the component as the initial center of the map: -->

<div class="container-fluid bg-light ">
  <div class="row align-items-center justify-content-center" id="filtros">
    <div class="col-md-2 pt-3">
      <div class="form-group">
        <select id="inputDeporte" class="form-control" (change)="filtrarCanchas()">
          <option selected value="-1">Deporte</option>
          <option *ngFor="let tipo of tipos; let i = index" [value]="tipo?.bd">{{tipo.tipo}}</option>
        </select>
      </div>
    </div>
    <div class="col-md-2 pt-3">
      <div class="form-group">
        <select id="inputPasto" class="form-control" (change)="filtrarCanchas()">
          <option selected value="-1">Pasto</option>
          <option *ngFor="let pasto of pastos; let i = index" [value]="pasto?.bd">{{pasto.tipo}}</option>
        </select>
      </div>
    </div>
    <div class="col-md-2 pt-3">
      <div class="form-group">
        <select id="inputLuz" class="form-control" (change)="filtrarCanchas()">
          <option selected value="-1">Iluminación</option>
          <option *ngFor="let luz of luces; let i = index" [value]="luz?.bd">{{luz.tipo}}</option>
        </select>
      </div>
    </div>
  </div>
</div>

<div id="contenedor-mapa">
  <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom">
    <agm-marker *ngFor="let marker of markersFiltrados; let i = index" [latitude]="marker.coords.split(', ')[0]" [longitude]="marker.coords.split(', ')[1]">
      <agm-info-window>
        <div id="contenedor-cancha">
          <mat-card class="example-card">
            <mat-card-header>
              <mat-card-title>{{marker.nombre}}</mat-card-title>
              <mat-card-subtitle class="subtitulo-mini" *ngIf="i==0">Fútbol 5 y 7</mat-card-subtitle>
              <mat-card-subtitle class="subtitulo-mini" *ngIf="i==1">Fútbol 5 y Basquetbol</mat-card-subtitle>
              <mat-card-actions id="boton-reservar">
                  <button mat-button [routerLink]="['/reservas/reservar', marker.id]">RESERVAR</button>
                </mat-card-actions>
            </mat-card-header>
            <img mat-card-image id="foto-mini" src="{{marker.foto}}">
            <mat-card-content id="descripcion-mini">
              <p>
                {{ marker.descripcion }}
              </p>
            </mat-card-content>
          </mat-card>
        </div>
      </agm-info-window>
    </agm-marker>
  </agm-map>
</div>
