agm-map {
    height: 100%;
    width: 100%;
}

#contenedor-mapa{
    height: 60%;
    width: 80%;
    margin-left: 10%;
    margin-top: 60px;
}

#titulo-reserva{
    margin-left: 37%;
    margin-top: 40px;
}
