agm-map {
    height: 100%;
    width: 100%;
}

#contenedor-mapa{
    height: 70%;
    width: 80%;
    margin-left: 10%;
    margin-top: 30px;
}

#titulo-reserva{
    width: 38%;
    margin-left: 31%;
    font-size: 60px;
}

.example-card {
    max-width: 400px;
}

.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}

#contenedor-cancha{
    height: 100%;
    width: 100%;
}

#filtros{
    background-color: white;
}

#contenedor-titulo{
    width: 100%;
    align-content: center;
    margin-top: 10px;
    font-family: 'Slabo 27px', serif;
}

#foto-mini{
    height: 200px;
    width: 350px;
    margin-left: 18px;
}

#descripcion-mini{
    margin-left: 18px;
}

#boton-reservar{
    float: right;
    margin-left: 110px;
}

.subtitulo-mini{
    width: 140px;
}
